body {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    background-color:  #F6F4EF;
    margin: 0 auto;
}

.headerImage {
    width: 20%;
    border-radius: 50%;
    margin: 2% 0;
}

.lead {
    font-weight: 800;
    font-size: 4vh;
}

h1 {
    font-size: 10vh;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

h2 {
    font-family: 'Marck Script', cursive;
    font-size: 325%;
    font-weight: 700;
    margin: 2% 0;
}

.katyProfilePic img {
    height: 70vh;
}

p {
    font-size: 3vh;
}

.row {
    margin: 0;
}

.testimonialImages {
    height: 20vh;
    background-color: burlywood;
}

.card-title {
    color: black;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: #020202;
    align-content: top;
}   

.card-img-top {
    margin: 1%;
}


footer {
    background-color: black;
    padding: 1% 0;
    color: white;
    text-align: center;
    font-size: 80%;
    color: white;
}

footer a {
    color:burlywood;
}

.container-fluid {
    align-content: center;
    padding: 0;
}

.jumbotron {
    background: url("../images/pexels-elly-fairytale-3823039.jpg") no-repeat center center;
    background-size: cover;
    height: 98vh;
    text-shadow: 2px 2px 2px white;
    margin: 0 auto;
}

.jumbotronText {
    margin-top: 3%;
}

/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* relevant styles */
  .img__wrap {
    position: relative;
    height: cover;
    width: cover;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(222, 184, 135, 0.95);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

  .card {
      background-color: white;
      
  }

  .card-text {
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .socialMedia {
      font-size: 10vh;
  }

  .subscribe {
      background-image: url("../images/succulent1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

  .subscribe h2 {
      text-shadow: 4px 4px 8px black;
  }

  .subscribe p {
      font-size: x-large;
      width: 65%;
      margin: 0 auto;
      margin-bottom: 1%;
  }

  .testimonialText {
      text-align: justify;
      padding: 5%;
      font-family: 'Times New Roman', Times, serif;
      line-height: 1.5;
  }

  h4 {
      color: black;
      font-size: 3vh;
  }
  
  form {
      color: black;
      text-align: center; 
  }
form input {
    color: black;
    text-align: center;
    /* border-radius: 5%; */
    width: 25%;
    padding: 1% 0;
    background-color: white;
}
  .aboutImage {
      background-image: url("../images/succulent.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  .aboutDiv {
      background-image: linear-gradient(to top left, bisque, whitesmoke);
      background-repeat: no-repeat;
      background-size: cover;
    }

  .aboutParagraph {
      margin-top: 4%;
      text-align: justify;
      padding-top: 2%;
      font-family: 'El Messiri', sans-serif;
      line-height: 1.5;
    }
