

navbar {
    position: sticky-top;
  
}

/* .rounded-circle {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
  } */

.breadcrumb-item {
    font-size: 4vh;
    display: inline-block;
    /* position: absolute; */
    color: black;
}

.rounded-circle {
    padding: 1%;

    
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color:  #F6F4EF;
}

/* .indexServices {

    margin-top: 1%;
} */

.container {
    /* background-color:  lightskyblue; */
    /* margin: 2% 0 2% 0; */
    padding: 4%;
    width: 100%;
}

/* .fab {
    padding: 3%;
    size: 5%;
} */

/* .socialMedia {
    /* block-size: 30vw; */
    /* border-radius: 80%;
    background-color: lightgray;
    padding: 3%;
} */

h1 {
    font-size: 10vh;
    font-family: 'Ranga', cursive;
}

h2 {
    /* font-family: 'Playball', cursive; */

    font-family: 'Ranga', sans-serif;
    /* margin: 3%;  */

}

p {
    /* margin-right: 5%;
    margin-left: 5%; */
    font-size: 3vh;
}

.indexSchedule {
    background-image: url("../images/sarah-dorweiler-123483-unsplash.jpg");
    background-size: 100%auto;
    background-attachment: fixed;
    padding: 3%;
    
}

/* .indexContact {
    background-image: url("../images/liana-mikah-343240-unsplash.jpg");
    background-size: 100%auto;
    background-attachment: fixed;
    padding: 3%;
} */

.indexTestimonials {
    background-image: url("../images/ugur-akdemir-283278-unsplash.jpg");
    background-attachment: fixed;
}

.indexImage1 {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/aerobic-class-fitness-866021.jpg");
    text-align: center;
    position: relative;
}

.indexText {
    color: black;
    font-size: 30%;
    position: relative;
    text-align: center;
}

.card-title {
    color: black;
    font-weight: 900;
    align-content: center;
    padding-top: 33%;
}

section.testimonial {
    background: #F6F4EF;
    }
    
    section .inner {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    }
    section.testimonial .inner {
    padding-top: 50px;
    text-align: left;
    }
    
    
    section.testimonial #quote-wrapper {
    position: relative;
    min-height: 150px;
    padding-top: 20px;
    }
    
    section.testimonial blockquote {
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    font-size: 28px;
    line-height: 1.3em;
    padding-top: 1em;
    position: relative;
    z-index: 1;
    margin-bottom: 0.75em;
    }
    q, blockquote {
    quotes: none;
    }
    section.testimonial cite {
    font-size: 18px;
    color: #595756;
    font-weight: bold;
    margin: 2em 0;
      margin-left: 38px;
    
    }
    #quote-quote a {
    color: #020202;
    text-decoration: none;
    }
    #quote-quote a:hover {
    color: #020202;
    text-decoration: underline;
    }
    
    section.testimonial #quote-wrapper.lisagor .portrait {
    background-repeat: no-repeat;
    background-image: url("http://www.getballpark.com/images/home/testimonials/lisagor.jpg");
    background-size: 313px 329px;
    background-position: center center;
    width: 313px;
    height: 329px;
    }
    
    section.testimonial #quote-wrapper.cederholm .portrait {
    background-repeat: no-repeat;
    background-image: url("http://www.getballpark.com/images/home/testimonials/cederholm.jpg");
    background-size: 275px 305px;
    background-position: center center;
    width: 175px;
    height: 205px;
    }
    
    
    section.testimonial blockquote::before {
    content: "“";
    color: #E0DDD7;
    font-family: georgia, serif;
    font-size: 6em;
    position: absolute;
    left: -0.25em;
    top: 0.35em;
    z-index: -10;
    }
    
    
    @media screen and (min-width: 750px){
      
    section.testimonial #quote-wrapper {
    padding-left: 360px;
    }  
      
    section.testimonial #quote-wrapper .portrait {
    position: absolute;
    left: 10px;
    bottom: 0;
    }
      
    }
    
    
    @media screen and (max-width: 750px){
        
    
    section.testimonial .inner {
    padding-left: 0;
    }
    
    section.testimonial .quote {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    }
    
    section.testimonial .portrait {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    background-size: 100% auto !important;
    background-position: center bottom !important;
    }
      
    }

    .day {
        /* background-color: black; */
        color: black;
        margin: 20px;
        padding: 20px;
      } 

.card {
    border: none;
}

.card-img-top {
    margin: 1%;
    
    /* border: none; */
}


footer {
    background-color: lightgray;
    padding: 4%;
}

.jumbotron {
    background-image: url("../images/aerobic-class-fitness-866021.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: black;

}

#openingSection {
    background-image: url("../images/aerobic-class-fitness-866021.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html {
    font-family: helvetica, arial, sans-serif;
  }
  
  /* relevant styles */
  .img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

  .card-deck {
      padding: 1%;
  }

  .card-text {
    font-weight: 600;
  }

  .socialMedia {
      font-size: 10vh;
  }

  .card-columns {
      padding: 3%;
  }

  #socialMediaBackground {
    background-image: url("../images/socialMediaPhone.jpg");
    background-size: cover;
    background-attachment: fixed;   
    height: 50vh;
    
  }