navbar {
    position: sticky;  
}

body {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    background-color:  #F6F4EF;
    overflow-x: hidden;
}

.lead {
    font-weight: 800;
    font-size: 4vh;
}

h1 {
    font-size: 10vh;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

h2 {
    font-family: 'Marck Script', cursive;
    font-size: 7vh;
    font-weight: 700;
    padding-top: 5%;
}

.katyProfilePic img {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 70vh;
    width: 30vw;
}

p {
    font-size: 3vh;
}

.testimonialImages {
    border-radius: 50%;
    padding: 2%;
    height: 40vh;
    background-color: burlywood;
}

.indexText {
    color: black;
    font-size: 30%;
    position: relative;
    text-align: center;
}

.card-title {
    color: black;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: #020202;
    align-content: top;
    padding-top: 43%;
}   
 
.card {
    border: none;
}

.card-img-top {
    margin: 1%;
}


#footer {
    background-color: black;
    padding: 3%;
    color: white;

}

.container-fluid {
    align-content: center;
}

.jumbotron-fluid {
    background-image: url("../images/acro-yoga-active-balance-1881993.jpg");
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;

}

.jumbotronText {
    margin-top: -3%;
}

#schedule {
    /* margin: 0; */
    padding: 0;
    background-image: url("../images/meditating.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
    height: 50vh;
}

/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* relevant styles */
  .img__wrap {
    position: relative;
    height: cover;
    width: cover;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(222, 184, 135, 0.95);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

  .card-deck {
      padding: 1%;
  }

  .card-text {
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .socialMedia {
      font-size: 10vh;
  }

  .card-columns {
      padding: 3%;
  }
  .contactContainer {
      background-image: url("../images/meditating.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  .subscribe {
      background-image: url("../images/meditating.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  .testimonialText {
      text-align: justify;
      padding: 5%;
  }

  h4 {
      color: black;
      font-size: 3vh;
  }

  .divCheckbox {
      color: black;
  }
  .contactCheckbox {
      display: justify;
      /* color: black; */
  }
  form {
      margin-left: 30%;
      margin-right: 30%;
      background-color: whitesmoke;
      opacity: 0.9;
      padding: 5%;
      background-size: 50%;
      color: black;
      display: inline-block;
      text-align: justify; 
  }

  .form-row {
      padding: 1%;
  }

  .aboutDiv {
      /* background-image: url("../images/silvia-agrasar-227575-unsplash.jpg"); */
      background-image: linear-gradient(to top left, bisque, whitesmoke);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
      /* position: relative;
      float: right; */
  }
/*   
  .aboutDiv:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
  } */
  .aboutParagraph {
      padding-right: 2%;
      padding-left: 2%;
      text-align: justify;
      padding-top: 2%;
      /* position: absolute; */
  }


  .horizontalLine {
    width: 60vw;
    height: 2px;
    margin-top: 3%;
    background-color: black;
    display: inline-block;
  }

/*  */
@media only screen and (max-width: 600px) {
    .jumbotron {
        /* background-image: url("../images/aerobic-class-fitness-866021.png"); */
        background-size: 100% 100% cover;
        background-position: center;
        background-repeat: no-repeat;
        /* max-width: 100%; */
        /* height: auto;
    }
} 